**/*.suo
**/**/*.suo
**/*.user
**/**/*.user

bin
obj
_ReSharper*
*.dotCover

*.csproj.user
*.resharper.user
*.ReSharper.user
*.cache
*~
*.swp
*.bak
*.orig
*.user

log4net.config
*.configSection

NuGet.exe
packages

AppPackages/
build/*

*.gitattributes